@import "tailwindcss";

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.4s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@layer utilities {
  .grow-bar {
    animation: growBar 0.7s ease-out forwards;
  }

  @keyframes growBar {
    from {
      height: 0%;
    }
    to {
      height: var(--final-height);
    }
  }
}